body {
  text-align: center;
  background-color: rgb(251, 190, 251);
}

input[type="submit"] {
  background-color: rgb(161, 245, 238);
  border: 2px solid white;
  border-radius: 50px;
  color: black;
  padding: 9px 20px;
}

ul,
ol {
  text-align: left;
}

div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #ccc;
  background: #333;
  padding: 8px;
}

a:link#home,
a:visited#home {
  background-color: #ff00aa77;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid white;
  border-radius: 50px;
  margin: 5px;
}

a:link.button,
a:visited.button {
  background-color: #be36f4c0;
  color: white;
  padding: 9px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid white;
  border-radius: 50px;
  margin: 3px;
}
