body {
  text-align: center;
  background-color: rgb(251, 190, 251);
  max-width: 1500px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  font-size: large;
}

a:link,
a:visited {
  color: purple;
  font-size: large;
}

input[type="submit"] {
  background-color: rgb(161, 245, 238);
  border: 2px solid white;
  border-radius: 50px;
  color: black;
  font-size: medium;
  padding: 9px 20px;
  margin: 3px;
}

ul,
ol {
  text-align: left;
}

input.delete[type="submit"] {
  background-color: rgba(248, 9, 69, 0.733);
  border: 2px solid white;
  border-radius: 50px;
  font-size: medium;
  color: white;
  padding: 9px 20px;
  margin: 3px;
}

div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: rgba(255, 255, 255, 0.637);
  background: rgba(179, 27, 250, 0.2);
  padding: 8px;
}

a:link#home,
a:visited#home {
  background-color: #ff00aa77;
  color: white;
  font-size: medium;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid white;
  border-radius: 50px;
  margin: 5px;
}

a:link.button,
a:visited.button {
  background-color: #be36f4c0;
  color: white;
  font-size: medium;
  padding: 9px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 2px solid white;
  border-radius: 50px;
  margin: 3px;
}

.blocktext {
  text-align: left;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
}
