@{
  Layout = "_Layout";
}

<h1>Welcome Claire!</h1>
<hr />

<p>@Html.ActionLink("See all stylists", "Index", "Stylists", null, new {@class="button"})</p>
<p>@Html.ActionLink("See all clients", "Index", "Clients", null, new {@class="button"})</p>
