@{ 
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h1>REMOVE CLIENT</h1>
<hr />

<h2>Are you sure you want to delete this client?</h2>
<br>
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<br>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="delete">
}
<br>
<hr>
<p>@Html.ActionLink("Back to clients list", "Index", "Clients", null, new {@class="button"})</p>
